body {
	font-family: 'Raleway', sans-serif;
	background: #121212;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
}

button {
  border-radius: 50%;
  background-color: #1E1E1E;
	border-width: 2px;
	border-color: #1D1D1D;
	border-style: solid;
	color: white;
	cursor: pointer;
  width: 4rem;
  height: 4rem;
  text-align: center;
  vertical-align: middle;
  outline: none;
  transition: transform .2s;
}

button:hover {
  border-color: rgba(255,255,255, 0.2);
  background-color: rgb(94, 94, 94);
  transform: scale(1.2);
}

h1, h2, h3 {
	color: white;
	text-align: center;
}

input {
	text-align: center;
	width: 100%;
	height: 2rem;
	background-color: #1E1E1E;
	color: #CCC;
	border: none;
	margin: 1rem 0rem;
  outline: none;
}

input:focus {
  border: none;
  border-color: rgba(255,255,255, 0.2);
}

form {
	display: flex;
	flex-direction: column;
}

footer {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.7rem;
  color: white;
  text-align: center;
}

#meetingnamediv {
  display: flex;
  flex-direction: column;
}

a {
  color: white;
}